:root {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --accent-color: var(--accent-color-light);

    /* light */
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --primary-color-light: #f48525;
    --secondary-color-light: #000000;
    --accent-color-light: #8230d7;

    /* dark */
    --background-color-dark: #000000;
    --text-color-dark: #ffffff;
    --primary-color-dark: #f48525;
    --secondary-color-dark: #ffffff;
    --accent-color-dark: #8230d7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,'Times New Roman',Tahoma;
}

body {
    background: var(--background-color);
    padding: 10vh 0 0 0;
    margin: 0;
}

header {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    place-items: center;
    padding: 0.3em 2em;
    background: var(--background-color);
}

header .company {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    gap: 0.5em;
    transition: 0.4s ease-in;
}

header .company svg.company-logo{
    fill: var(--primary-color);
    background: var(--primary-color);
    border-radius:50%;
    padding: 2;
}

header .company svg.company-logo .circle-circum {
    stroke: var(--background-color);
    stroke-width: 2;
}

header .company svg.company-logo .name {
    stroke: var(--background-color);
    stroke-width: 0.5;
}

header .company svg.company-logo line {
    stroke: var(--accent-color);
}

header .company svg.company-name {
    stroke: var(--primary-color);
    width: fit-content;
    height: fit-content;
}

header .company svg.company-name .awfora {
    font-size: 40;
    fill: var(--background-color);
    stroke: var(--primary-color);
    stroke-width: 2;
}

header .company svg.company-name .infotech{
    font-size: 30;
    fill: var(--primary-color);
}

header .menu-nav {
    display: flex;
    flex-direction: row;
    margin-right: 2em;
    gap: 1.5em;
}

header .menu-nav .menu {
    font-weight: bolder;
    font-size: larger;
    text-transform: uppercase;
    text-decoration: none;
    color:var(--text-color) ;
}

header .menu-bar {
    display: none;
    flex-direction: row;
    background: var(--text-color);
    border-radius:15%;
}

header .menu-bar .bar, header .menu-bar .close{
    stroke: var(--primary-color);
    stroke-width: 5;
}

header .menu-bar .bar {
    display: block;
}

header .menu-bar .close {
    display: none;
}

.content-body {
    /* width: fit-content; */
    /* background: var(--accent-color); */
    min-height: calc(100vh - 10vh)
}

@media screen and (max-width: 786px) {
    header .company {
        gap: 0;
    }
    
    header .menu-nav {
        position: absolute;
        display: none;
        flex-direction: column;
        top: 10vh;
        left: 0;
        width: 100%;
        align-items: center;
        height: calc(100vh - 10vh);
        background: var(--primary-color);
        border-radius: 15px;
    }

    header .menu-nav .menu {
        margin: 2em;
    }
    
    header .menu-nav .menu.active a{
        color: var(--background-color);
    }
    header .menu-bar {
        display: block;
    }

    header .menu-bar .bar {
        display: block;
    }
    header .menu-bar .menu-nav, header .menu-bar .bar, header .menu-bar .close {
        transition: 0.4s ease-in-out;
    }
}

/* Highlight the active menu link */
.menu.active a {
    color: var(--primary-color); /* Change this to your desired highlight color */
}

/* Hide inactive content sections */
.content {
    display: none;
}

/* Show the active content section */
.active {
    display: block;
    color: var(--background-color);
}

/* Scroll snapping for individual sections */
.content section {
    height: calc(100vh - 10vh);
    scroll-snap-align: start;
    color: var(--background-color);
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    background-color: var(--primary-color);
    border-radius: 15px;
}

.content section:nth-child(even) {
    background: var(--accent-color);
}

/* On scroll */
header.scrolled {
    background: var(--primary-color);
}

header.scrolled .menu-nav .menu {
    color: var(--text-color);
}

header.scrolled .company svg.company-logo {
    fill: var(--background-color);
}

header.scrolled .company svg.company-logo .name {
    stroke: var(--primary-color);
}